<a href="https://colab.research.google.com/github/VishalPethkar/YBI-FOUNDCTION--2-MONTH--INTNSHIP/blob/main/05Directly_Read_Google_Drive_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import library

import pandas as pd

In [ ]:
# google drive file share url

url='https://drive.google.com/file/d/1UboBE3XwSg3NEED6OaoPqhqtFC0duoz-/view?usp=sharing'

In [ ]:
# modify google drive url for pandas read function

url='https://drive.google.com/uc?id=' + url.split('/')[-2]

df = pd.read_csv(url)

In [ ]:
# display first 5 rows

df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"